---
--- 

@import "{{ site.theme }}";

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(15, 122, 209, 0.829);
    color: rgb(20, 4, 2);
    text-align: center;
}

.copy-left {
    display: inline-block;
    text-align: right;
    margin: 0;
    font-size: 1.25em;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: FlipH;
}

img {
    display: block;
    border-radius: 12%;
    max-width: 100%;
    height: auto;
    // margin-left: auto;
    // margin-right: auto;
}

img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.button {
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    background-color: rgba(65, 90, 66, 0.685);
    /* Green */
    color: white;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
        0 18px 45px 0 rgba(0, 0, 0, 0.18);
}